# Frontend
Frontend/node_modules/
Frontend/build/
Frontend/.env
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

# Backend
Backend/node_modules/
Backend/.env
Backend/uploads/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/